site_name: Expander Card documentation
docs_dir: source
theme:
  name: material
  variant: classic
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.indexes
    - toc.integrate
    - navigation.top
    - navigation.footer
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
    - content.action.edit
  palette:
    - schema: default
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
      primary: indigo
      accent: blue
    - scheme: slate
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
  primary: indigo
  accent: light blue
extra:
  generator: false
plugins:
  - search
  - git-revision-date-localized:
      enable_creation_date: true
markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
nav:
  - 'index.md'
  - 'quick-start.md'
  - 'Configuration':
    - 'chapter/configuration/index.md'
    - 'chapter/configuration/configuration-overview.md'
    - 'chapter/configuration/gui-configuration.md'
    - 'chapter/configuration/examples.md'
  - 'Template':
    - 'chapter/templating/index.md'
    - 'chapter/templating/template.md'
    - 'chapter/templating/action.md'
  - 'Styling':
    - 'chapter/style/index.md'
    - 'chapter/style/style.md'
    - 'chapter/style/styling-examples.md'
    - 'chapter/style/hover.md'
    - 'chapter/style/card-mod.md'
  - 'Contribution':
    - 'chapter/contribution/contribution.md'
  - 'FAQ':
      - 'chapter/faq/faq.md'
repo_url: https://github.com/MelleD/lovelace-expander-card
edit_uri: blob/master/docs/source/