name: 'Build'

on:
  pull_request:
    branches: 
      - main
  push: 
    branches:
      - main

jobs:
  build:
    permissions:
      contents: read
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup Git
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061
        name: Install pnpm
        with:
            version: 9
            run_install: false
      - uses: actions/setup-node@v6
        name: Install Node.js
        with:
            node-version: 20
            cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install
      - name: Build
        run: pnpm run build
      - name: Archive production artifacts
        uses: actions/upload-artifact@v6
        with:
          name: expander-card
          path: |
              dist
